
# for database running in a container
# DATABASE_URL="postgres://postgres:password@database:5432/extractor_db?schema=public"

# for local database
DATABASE_URL="postgres://postgres:password@localhost:5432/extractor_db?schema=public"


# BetterAuth configuration
# Make sure to replace the URL and secret with your actual values. The secret should be a secure, random string.
BETTER_AUTH_URL="http://localhost:3000"
BETTER_AUTH_SECRET="b86a96bc778e902bf02ceb24e6118896be54b38ab97c349af8741a337e352cc6"


# n8n Webhook URL
N8N_WEBHOOK_URL="tu_n8n_webhook_url_aqui"  # Reemplaza con tu URL de webhook de n8n